$fontColor:#00FF66;
$titleColor: rgb(41, 37, 37);
$blueButton: blue;
$yellowButton: yellow;
$greenButton: green;
$pokeDexColor: red;
$screenColor: #3A3A3A;
$borderColor: black;

$color1: rgba(68, 53, 91, 1);
$color2: rgba(49, 38, 62, 1);
$color3: rgba(249, 52, 118, 1);
$color4: rgba(255, 198, 12, 1);
$color5: rgba(12, 249, 131, 1);

$color6: rgba(38, 84, 124, 1);
$color7: rgba(239, 71, 111, 1);
$color8: rgba(255, 166, 48, 1);
$color9: rgba(78, 205, 196, 1);
$color10: rgba(181, 110, 221, 1);
$color11: rgba(224, 62, 81, 1);