
#ianPokedex {
    position: absolute;
    padding: 25px;
    border-radius: 25px;
    background: rgba($color: #fff, $alpha: .6);
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    li {
        padding: 25px;
        border: solid 1px #999;
        img {
            margin: 15px;
        }
    }
}

@keyframes ianReveal {
    0% {
        bottom: 0;
        left: 0;
        opacity: 0;
    }
    100% {
        bottom: 100px;
        left: 100px;
        opacity: 1;
        z-index: 100000;
    }
}

.ianReveal {
    animation: ianReveal 1s forwards;
}

@keyframes ianHide {
    0% {
        bottom: 100px;
        left: 100px;
        opacity: 1;
    }
    100% {
        bottom: 0;
        left: 0;
        opacity: 0;
        z-index: -1;
    }
}

.ianHide {
    animation: ianHide 1s forwards;
}



#francisPokedex {
    position: absolute;
    padding: 25px;
    border-radius: 25px;
    background: rgba($color: #fff, $alpha: .6);
    bottom: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    li {
        padding: 25px;
        border: solid 1px #999;
        img {
            margin: 15px;
        }
    }
}

@keyframes francisReveal {
    0% {
        bottom: 0;
        right: 0;
        opacity: 0;
    }
    100% {
        bottom: 100px;
        right: 100px;
        opacity: 1;
        z-index: 100000;
    }
}

.francisReveal {
    animation: francisReveal 1s forwards;
}

@keyframes francisHide {
    0% {
        bottom: 100px;
        right: 100px;
        opacity: 1;
    }
    100% {
        bottom: 0;
        right: 0;
        opacity: 0;
        z-index: -1;
    }
}

.francisHide {
    animation: francisHide 1s forwards;
}